<div class='polo-wrapper' onload="$parent.get()">
		<s class="polo_up"><!--img(up)---></s>
		<div class="polo_border">
			<canvas class='polo' id='canvas' ng-click="$parent.get()"></canvas>
		</div>
		<!--<span class="polo-point" count-to="{{countTo}}}" value="{{countFrom}}" duration="1.5"></span>-->
  	<div class="polo-text">
  		<!--<span class="polo-point" count-to="{{countTo}}}" value="{{countFrom}}" duration="1.5"></span>-->
    	<!--<div>点我省{{point || 0}}元</div>
    	<div>吸分省更多哦~</div>-->
    	<div count-to="{{countTo}}}" value="{{countFrom}}" duration="1.5"></div>
    </div>
  	<s class="polo_down"><!--img(down)---></s>
</div>
